body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f5f5f7;
    color: #1d1d1f;
    -webkit-font-smoothing: antialiased;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 5%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    /* Efecto cristal de Apple */
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: none;
    display: flex;
    gap: 2px;
}

.text-yellow {
    color: #ffcc00;
}

.text-black {
    color: #000000;
}

.user-menu {
    position: relative;
}

.user-name {
    background: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: #333;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-width: 150px;
    z-index: 100;
    margin-top: 0.5rem;
}

.dropdown a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
}

.show {
    display: block;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

.search-section h1 {
    font-weight: 300;
    margin-bottom: 2rem;
}

.search-box {
    display: flex;
    background: white;
    padding: 0.5rem;
    border-radius: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 600px;
}

.search-box input {
    flex: 1;
    border: none;
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    outline: none;
    border-radius: 50px;
}

.search-box button {
    background: #ffcc00;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}