body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
}

.container {
    background: #ffffff;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.logo-form {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 2px;
}

.text-yellow {
    color: #ffcc00;
}

.text-black {
    color: #000000;
}

h2 {
    margin-bottom: 1.5rem;
    font-weight: 400;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input {
    padding: 0.8rem 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    outline: none;
}

button {
    padding: 0.8rem;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: 600;
}